@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  background-color: var(--primary);
}

:root {
  --primary: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 41%);
  --ternary: hsl(0, 0%, 8%);
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: space-between;
}

.container {
  padding: 25px;
  width: 100%;
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--secondary);
}

.logo {
  height: fit-content;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: -38em;
}

.nav-link {
  margin-right: 3.5em;
}

.dropdown-menu {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em 1em;
  line-height: 2em;
  position: absolute;

  /* transform: rotateX(-90deg) translateX(-50%); */
  transform-origin: top center;
  opacity: 0.3;
  transition: 280ms all ease-out;
}

.dropdown-menu:hover {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}

#feature-dropdown {
  margin-top: 20%;
  margin-left: -68%;
}

#company-dropdown {
  margin-top: 1.5%;
  margin-left: -1%;
}

.icon {
  margin-right: 0.7em;
}

.log > a:nth-child(2) {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 10px;
}

.log > a:nth-child(1) {
  margin-right: 28px;
}

.info-head {
  font-weight: 700;
  font-size: 85px;
  margin-top: 144px;
  margin-bottom: 51px;
}

.hero-img {
  margin-right: 6%;
  margin-top: 4%;
}

.info-text {
  line-height: 130%;
  font-size: 18px;
  color: var(--secondary);
}

.btn {
  margin-top: 51px;
  padding: 2.5% 6%;
  color: var(--primary);
  background: var(--ternary);
  border-radius: 9px;
  border: none;
  padding: 2;
  font-size: 18px;
}

.info {
  margin: 0 0 51px 150px;
  margin-left: 160px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
